/* div#categoryDiv ul#extraCurr_CategoryList li:nth-child(1) {
  background: #7faab2 url('sports.png') no-repeat 50% 30%; 
 }

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(1):hover {
  background: #7fa0b2 url('sports.png') no-repeat 50% 30%; 
 }

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(2) {
  background: #cf8ab2 url('fashion.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(2):hover {
  background: #cf76b2 url('fashion.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(3) {
  background: #8faac2 url('politics.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(3):hover {
  background: #8f96c2 url('politics.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(4) {
  background: #8faac2 url('music.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(4):hover {
  background: #8f96c2 url('music.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(5) {
  background: #5fba92 url('literature.png') no-repeat 50% 30%;
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(5):hover {
  background: #5fb592 url('literature.png') no-repeat 50% 30%;
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(6) {
  background: #bfb262 url('art.png') no-repeat 50% 30%;; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(6):hover {
  background: #bfa962 url('art.png') no-repeat 50% 30%;; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(7) {
  background: #8f8ab2 url('tech.png') no-repeat 50% 30%;; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(7):hover {
  background: #8f80b2 url('tech.png') no-repeat 50% 30%;; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(8) {
  background: #cf9072 url('food.png') no-repeat 50% 30%;; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(8):hover {
  background: #cf8572 url('food.png') no-repeat 50% 30%;; 
}

 div#categoryDiv ul#extraCurr_CategoryList li:nth-child(9) {
  background: #6f8ab2 url('fashion.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(9):hover {
  background: #6f80b2 url('fashion.png') no-repeat 50% 30%; 
}

 div#categoryDiv ul#extraCurr_CategoryList li:nth-child(10) {
  background: #af8ab2 url('health.png') no-repeat 50% 30%; 
}

div#categoryDiv ul#extraCurr_CategoryList li:nth-child(10):hover {
  background: #af7bb2 url('health.png') no-repeat 50% 30%; 
} */